<link rel="stylesheet" href="/public/style.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<ul class="header">
    <li>
        <a href="/board">게시판</a>
    </li>
    <li>
        <a href="/create">글 작성</a>
    </li>
<link rel="stylesheet" href="/public/style.css">
</ul>