<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    추가페이지
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="">제목</label>
        <input type="text" name="title">
        <label for="">내용</label>
        <textarea name="content"></textarea>
        <label for="">이미지</label>
        <input type="file" name="file">
        <button>글 등록</button>
    </form>
</body>
</html>